@import "../../../../node_modules/@euid/scss-mixins";
@font-face {
  font-family: 'NEXONFootballGothicBA1';
  src: url('../../../font/tahoma.ttf');
  font-weight: normal;
  font-style: normal;
}
a{
  text-decoration: none;
}
#nav-box{
  z-index: 99999;
  position: sticky;
  top: 0;
  @include flex-container(justify-space-between);
  background: #fff;
  //padding: 8px 12px;
  box-shadow: 0 2px 20px lightgray;
  height: 80px;
  .logo__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    flex: 1;
    img{
      width: 120px;
      height: 60px;
      //background: url('/public/assets/logo.png') no-repeat;
      background-size: contain;
    }
    }
  }
  .content__box{
    flex: 7;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex-start;
    align-items: center;
    .content__menu{
      margin: 16px 24px;
      // a{
      //   color: black;
      //   font-size: 20px;
      //   padding: 12px;
      // }
      // a:hover{
      //   padding: 3px 12px;
      //   background: #D6D6D6;
      //   border-radius: 7px;
      // }
       a {
        padding: .5em .8em;
        color: #000;
        position: relative;
        text-decoration: none;
        font-size: 1.25em;
      }
       a::before,
       a::after {
        content: '';
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
      }

       a::before {
        content: '';
        right: 0;
        top: 0;
        border-top: 3px solid #f39cff;
        border-right: 3px solid #f39cff;
        transform: translate(-100%, 50%);
      }

       a:after {
        content: '';
        left: 0;
        bottom: 0;
        border-bottom: 3px solid #f39cff;
        border-left: 3px solid #f39cff;
        transform: translate(100%, -50%)
      }

       a:hover:before,
       a:hover:after{
        transform: translate(0,0);
        opacity: 1;
      }

       a:hover {
        color: #f39cff;
      }
    }
    .input__box{
      margin-left: auto;
      position: relative;
      margin-right: 50px;
      .searchBox{
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 2px solid #00FFF0;
        border-radius: 50px;
        box-sizing: border-box;
        font-size: 12px;
        color: #00FFF0;
        outline: none;
        box-shadow: 0 2px 20px lightgray;
        width: 400px;
        height: 40px;
        .input{
          width: 85%;
          border-radius: 24px;
          border: none;
          outline: none;
          top: 5px;
          font-size: 16px;
          margin-left: 10px;
        }
        .i{
          font-size: 24px;
          cursor: pointer;
          margin-right: 5px;
        }

      }

    }

  }
  .nav_toggle_Btn{
    position: absolute;
    right: 32px;
    font-size: 24px;
    top: 28px;
    color: black;
    display: none;
    cursor: pointer;
  }
  @media screen and (max-width:1600px) {
    #nav-box{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .logo{
        margin-left: 20px;
      }
      .content__box,
      .certification__box{
        display: none;
      }
      .nav_toggle_Btn{
        display: block;
      }
    }
  }


