@import "../../../../node_modules/@euid/scss-mixins";
@font-face {
  font-family: 'NEXONFootballGothicBA1';
  src: url('../../../font/tahoma.ttf');
  font-weight: normal;
  font-style: normal;
}
a{
  text-decoration: none;
}
#nav-box{
  z-index: 99999;
  position: sticky;
  top: 0;
  @include flex-container(justify-space-between);
  background: #fff;
  //padding: 8px 12px;
  box-shadow: 0 2px 20px lightgray;
  height: 80px;
  .logo__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    flex: 1;
    img{
      width: 120px;
      height: 60px;
      //background: url('/public/assets/logo.png') no-repeat;
      background-size: contain;
    }
    }
  }
  .content__box{
    flex: 7;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    max-width: 100%;
    z-index: 0;
    .nav-item{
    }
    .board-btn{
      z-index: 2;
      cursor: pointer;
      position: relative;
      .btn1{
        background: blue;
      }
      .btn2{
        background: red;
      }
      .hide-btn{
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 0;
        left: 0;
        top: 68px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        transition: 1s;
        border-radius: 0 0 8px 8px;
        li{
          padding: 12px;
          a{
            width: 100%;
            display: flex;
            color: white;
          }
          a:hover{
            color: #00FFF1;
          }
        }

      }
      .hide-btn.hovers1{
        transition: 0.25s;
        transition-delay: 0.3s;
        height: 176px;
      }
      .hide-btn.hovers2 {
        transition: 0.25s;
        transition-delay: 0.3s;
        height: 88px;
      }

    }
    .nav-indicator{
      position: absolute;
      bottom: 0;
      height: 2px;
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
    .nav-item {
      color:  black;
      padding: 20px;
      text-decoration: none;
      transition: .3s;
      margin: 0 6px;
      z-index: -1;
      font-weight: 700;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: .3s;
      }
    }

    .nav-item:not(.is-active):hover:before {
      opacity: 1;
      bottom: 0;
    }
    .nav-item:not(.is-active):hover { color: #333; }
    .nav-indicator {
      position: absolute;
      left: 0;
      bottom: 0;
      transition: .4s;
      height: 5px;
      z-index: 1;
      border-radius: 8px 8px 0 0;
    }
    .input__box{
      margin-left: auto;
      position: relative;
      margin-right: 50px;
      .searchBox{
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 2px solid #00FFF0;
        border-radius: 50px;
        box-sizing: border-box;
        font-size: 12px;
        color: #00FFF0;
        outline: none;
        box-shadow: 0 2px 20px lightgray;
        width: 400px;
        height: 40px;
        .input{
          width: 85%;
          border-radius: 24px;
          border: none;
          outline: none;
          top: 5px;
          font-size: 16px;
          margin-left: 10px;
        }
        button{
          background-image: none;
          background-color: transparent;
          border: none;
          .searchI{
            cursor: pointer;
            margin-right: 8px;
          }
        }

      }

    }

  }
  .nav_toggle_Btn{
    position: absolute;
    right: 32px;
    font-size: 24px;
    top: 28px;
    color: black;
    display: none;
    cursor: pointer;
  }
  @media screen and (max-width:1400px) {
    #nav-box{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .logo{
        margin-left: 20px;
      }
      .content__box,
      .certification__box{
        display: none;
      }
      .nav_toggle_Btn{
        display: block;
      }
    }
  }


