.comment-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .comment-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px;

    .comment-title {
      font-family: 'Nanum Gothic', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
    }

    .comment-count {
      font-family: 'Nanum Gothic', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
    }
  }

  .comment-box {
    width: 360px;
    height: 450px;
    padding: 0 20px;
    overflow-y: scroll;
  }
  .comment-box::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
  }

  .comment-box::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #cccccc; /* 스크롤바의 색상 */

    border-radius: 10px;
  }

  .comment-box::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
  }

  .comment-save {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 20px 20px;
    border-top: 1px solid #cccccc;

    .comment-save-profile {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .comment-input-box {
      width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;


      input{
        width: 270px;
        border: none;
        border-bottom: 1px solid #cccccc;
        padding: 5px;
        font-family: 'Nanum Gothic', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
      }

      input:focus {
        outline: none;
        border-bottom: 1.5px solid #494949;
      }

      .comment-send {
        cursor: pointer;
        width: 18px;
        height: 18px;
        right: 250px;
      }
    }
    position: relative;
    .leftArrow{
      position: absolute;
      left: 0;
      width: 50px;
      height: 50px;
      background: black;
      border-radius: 12px 0 0 12px;
    }

  }
}