.comment-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .comment-title-box {

  }

  .comment-box {

  }

  .comment-save {

    .comment-profile {

    }

    .comment-input-box {
      
    }

  }
}