.skeleton-right-content {
  width: 703px;
  height: 100vh;

  border-radius: 5px;
  border: 1.5px #c3d1dc solid;
  animation: loading 2s linear infinite;
  animation-delay: 0s;
  background-color: #cacaca;
}


@keyframes loading {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}