#detail-body{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .detail-content{
    border: lightgray solid 2px;
    border-radius: 4px;
    background: white;
    display: flex;
    margin:  50px auto;
    width: 1080px;
    flex-direction: column;
    .content-top{
      display: flex;
      flex-direction: column;
      padding: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid black;
      h1{
        justify-content: flex-start;
        font-weight: 700;
        font-size: 30px;
        margin: 16px 0;
      }
      .detail-info-box{
        display: flex;
        justify-content: flex-start;
        .info-front{
          display: flex;
          margin-right: auto;
        }
        .info-back{
          display: flex;
        }
        p{
          margin: 4px;
        }
      }
    }
    .content-center{
      padding: 100px;
      border-bottom: 1px solid black;
      margin-bottom: 32px;
      .imgTag{
        width: 500px;
        object-fit: contain;
      }
    }
    .content-bottom{
      margin:  25px 50px;
      display: flex;
      justify-content: flex-end;
      .p{
        margin: 16px;
        font-size: 16px;
        cursor: pointer;
      }
      .p:hover{
        //border: 1px solid lightgray;
      }

      .correction{
        color: black;
      }
      .delete{
        color: red;
      }
    }
  }
  .detail-comment{
    width: 1080px;
    .detail-comment-form{
      width: 90%;
      margin: 25px auto;
      display: flex;
      border-bottom: lightgray solid 1px;
      #outlined-basic{
        border-radius: 16px;
      }
      button{
        font-weight: 700;
        color: black;
        border: lightgray solid 1px;
        font-size: 18px;
      }
    }
    .comment-box{
      width: 90%;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .e{
        margin: 15px 0;
      }
      .comment{
        width: 100%;
        padding: 12px;
        border-radius: 16px;
        border: solid lightgray 1px;
        display: flex;
        flex-direction: column;
        margin: 5px;
        .comment-top{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .tqbox{
            display: flex;
          }
          p{
            padding: 5px;
            cursor: pointer;
          }
        }
        .comment-content{
          display: flex;
          justify-content: space-between;
          padding: 8px;
          .ctt{
            padding: 16px;
          }
        }
      }
      .moveBox{
        width: 95%;
        display: flex;
        justify-content: space-between;
        padding: 40px 20px;
        border-top: 1px solid lightgray;
        margin-top: 100px;
        .move-button {
          width: 100px;
          height: 40px;
          cursor: pointer;
          background-color: #fff;
          border: none;

          border-radius: 10px;
          font-size: 12px;
          font-weight: 700;
          box-shadow: 0 4px 6px -3px grey;
      }
        .clicked {
          background-color: #13D8F6;
          color: #fff;
          //box-shadow: inset 2px 2px 4px 3px #7E7E7E;
          box-shadow: inset 2px 2px 4px 3px #0d9cb2;
        }
      }
    }
  }
}