#section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 24px;
    margin: 12px 0 12px 0;
  }

  .box {
    height: 705px;
    width: 1300px;
    margin: 0 auto;
    background-color: #eaeaea;
  }
  .live-feed {
    height: 600px;
    width: 800px;
    float: left;
    background-color: #000000;
    margin: 20px 0 0 20px;
    text-align: center;
    .infobox {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
      .info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  .comment {
    height: 665px;
    width: 400px;
    float: right;
    background-color: #FFFFFF;
    margin: 20px 20px 0 0;
    overflow: hidden;

    span {
      font-size: 18px;
    }
  }

  .comment .messages {
    height: 600px;
    width: 100%;
  }

  .comment .write-message {
    height: 65px;
    width: 100%;
  }

  .comment .write-message textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    resize: none;
  }

  .comment .write-message textarea:focus {
    outline: none;
    border: 2px solid #0074d9;
  }

  .comment .message {
    margin: 10px 10px 0 10px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #eee;
  }

  .comment .message strong {
    font-size: 12px;
    font-style: italic;
  }

  .admin-message {
    border: 3px solid #0074d9;
  }

  button {
    height: 45px;
    width: 45px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #0074d9;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
  }

  .box, .live-feed, .comment, button {
    border-radius: 3px;
  }

  .box, .live-feed, .comment {
    border: 1px solid #ddd;
  }

  .comment {
    position: relative;
  }

  .comment .coming-soon {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #595959;
    font-size: 14px;
    transform: rotate(10deg);
  }

  .detail-comment {
    width: 100%;

    .detail-comment-form {
      width: 40%;
      margin: 25px auto;
      display: flex;
      align-items: flex-start;
      border-bottom: lightgray solid 1px;

      #outlined-basic {
        border-radius: 16px;
      }

      button {
        font-weight: 700;
        color: black;
        border: lightgray solid 1px;
        font-size: 18px;
        width: 100px;
        height: 50px;
      }
    }

    .comment-box {
      width: 40%;
      margin: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .comment2 {
        width: 100%;
        padding: 12px;
        border-radius: 16px;
        border: solid lightgray 1px;
        display: flex;
        flex-direction: column;
        margin: 5px;

        .comment-top {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .tqbox {
            display: flex;
          }

          p {
            padding: 5px;
            cursor: pointer;
          }
        }

        .comment-content {
          display: flex;
          justify-content: space-between;
          padding: 8px;
          .ctt {
            padding: 16px;
          }
        }
      }
    }
  }
}