#bttt{
  width: 100px;
  margin-left: 5px;
  border-radius: 5px;
}
.modal{
  .modalTitle{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
  margin-top: 140px;
  .modal-body{
    display: flex;
    justify-content: space-between;
    .hr{
      width: 122.45%;
      border: 1px black solid;
    }
    h2{
      font-weight: 900;
      font-size: 40px;
    }
    .blue-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      [class*=red i] {
        background-color: blue;
      }
    }
    .red-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      [class*=red i] {
        background-color: red;
      }
    }
    #three{
      width: 250px;
      height: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 32px;
      font-weight: 900;
      transition: width 0.5s ease; /* 너비 변화에 대한 애니메이션 효과 추가 */

    }

    [class*=button i] {
      border: none;
      border-radius: 0.2em;
      cursor: pointer;
      padding: 0.9em 1.5em;
      transition: transform 0.2s cubic-bezier(0.3, 0.6, 0.4, 2);

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }
    }
    img{
      width: 100px;
      height: 100px;
    }
  }
}
#example-custom-modal-styling-title{
  align-items: center;
}

