
//헤더 전체
.admin-header-wrapper{
  width: 65%;
  margin: 100px auto 0;
  font-weight: 700;
  cursor: default;
  // "관리자 페이지"
  .page-name{
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
  .admin-list{
    display: flex;
    .admin-list-item{
      margin-right: 20px;
      color: #a7a7a7;
    }
    .select{
      color: #00C2FF;
    }
  }

}

