$breakpoint-desktop : 1800px;
@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@mixin desktop{
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

#csgames{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;

  @include desktop{
    height: 90vh;
  }
}


