.pwr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  margin-top: 20px;

  .pwr-textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;

    .textbox1 {
      color: #fff;
      font-size: 30px;
    }

    .textbox2 {
      color: #fff;
      font-size: 13px;
    }
  }

  .pwr-input-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    gap: 5px;

    .input-textbox {
      color: #fff;
      font-size: 18px;
    }

    .pwr-input {
      border: none;
      border-radius: 5px;
      height: 40px;
      font-size: 18px;
      padding: 0 10px;
    }

    .pwr-input:focus {
      outline: none;
    }
  }

  .pwr-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 45px;
    background: #db00ff;
    border-radius: 5px;
    margin-top: 5px;
    .button-textbox {
      color: #fff;
      font-size: 20px;
    }
  }
}